
.car-details {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .car-details img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .car-details h2 {
    margin-top: 0;
    color: #5b5b5b
  }
  
  .car-details p {
    margin: 5px 0;
    color: #5b5b5b
  }
  